html {
    width: 70%;
    height: 70%;
}
body {
    margin: 0;
    align-content: center;
    background-size: cover;
    background-image: url(dpCrotch.jpg);
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;

}

.header1 {
    background-color: black;
    height: 10vw;
    width: 98.7vw;
    border: 1px solid red;
}

.headerImage {
    position: relative;
    left: 51%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
}

main {
    position: relative;
    left: 0%;
    width: 100vw;
    height: 50vw;
    font-size: 0;
    bottom: 19.3vw;
}

.playerBoxBorder{
    height: 100%;
    width: 25%;
    display: inline-block;
}

.playerBox1 {
    position: relative;
    width: 15vw;
    background-color: darkslategray;
    border-radius: 8px;
    border: 1px solid red;
    height: 30vw;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    opacity: .7;
    top: 4vw;
    left: 9vw;
}

#forfeitbtnp1 {
    color: white;
    width: 6em;
    height: 2em;
    border-radius: 4px;
    background-color: black;
    font-family: "Orbitron";
    position: relative;
    bottom: 8.5vw;
}

#player1name {
    height: 4vw;
    font-size: 2.5em;
}
#stats1 {
    height: 4vw;
    font-size: 2.5em;
}
#gplayed1 {
    height: 4vw;
    font-size: 2.5em;
}
#attempts1 {
    height: 4vw;
    font-size: 2.5em;
}


.playerBox2 {
    position: relative;
    bottom: -4vw;
    width: 15vw;
    left: 4vw;
    background-color: darkslategray;
    border-radius: 8px;
    border: 1px solid red;
    height: 30vw;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    opacity: .7;
}
#forfeitbtnp2 {
    color: white;
    width: 6em;
    height: 2em;
    border-radius: 4px;
    background-color: black;
    font-family: "Orbitron";
    position: relative;
    bottom: 8.5vw;
}

#player2name {
    height: 4vw;
    font-size: 2.5em;
}
#stats2 {
    height: 4vw;
    font-size: 2.5em;
}
#gplayed2 {
    height: 4vw;
    font-size: 2.5em;
}
#attempts2 {
    height: 4vw;
    font-size: 2.5em;
}
.pieceDisplay1 {
    width: 10vw;
    position: relative;
    left: .5vw;
}
.pieceDisplay2 {
    width: 10vw;
    position: relative;
    left: .5vw;
}

#dpGamePiece {
    position: relative;
    left: 20%;
    width: 60%;
    bottom: 1.8vw;
}
#smgamepiece {
    position: relative;
    left: 20%;
    width: 60%;
    bottom: 1.8vw;
    opacity: 1.0
}

.gameBoard {
    width: 50vmin;
    height: 50vmin;
    position: relative;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    top: 4vw;
    left: 2vw;
}
.row0, .row1, .row2, .row3, .row4, .row5, .row6 {
    display: inline-block;
    height: 14.2857143%;
    width: 100%;
}
.space {

    display: inline-block;
    height: 100%;
    width: 14.2857143%;
}

.column {
    position: relative;
    display: inline-block;
    height: 90%;
    width: 90%;
    border: 1px solid white;
    border-radius: 50%;
    top: 5%;
    background-color: darkred;
    left: 5%;
}

.spin_animation {
    animation-name: spin;
    animation-duration: 5s;
    /* animation-timing-function: ease; */
    /* animation-iteration-count: 3; */
}

@keyframes spin {
    0%   {transform: rotateY(0deg) translateY(0);
        }
    /* 25%  {transform: rotateY(90deg);}
    50%  {transform: rotateY(180deg);}
    75%  {transform: rotateY(270deg);} */
    100% {transform: rotateY(1800deg) translateY(0);
        }
}

.showPlayer2 {
    background: url("SMgamepiecesmall.png");
    background-size: 100% 100%;
}

.showPlayer1 {
    background: url("DPgamepiecesmall.png");
    background-size: 100% 100%;
}

.token1 {
    background: url("SMgamepiecesmall.png");
    position: relative;
    height: 100%;
    width: 100%;
}
.token2 {
    background: url("DPgamepiecesmall.png");
    position: relative;
    height: 100%;
    width: 100%;
}

/* start menu modal styling*/
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid red;
}


#playButton {
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin-right: 37%;
    margin-left: 37%;
    margin-bottom: 5%;
    border: 1px solid white;
    border-radius: 4px;
    width: 25%;
}

#playButton:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

#dpCF {
    width: 60%;
    border-radius: 8px;
    border: 1px solid red;
}

.container {
    padding: 16px;
    position: relative;
    left: 15%;
}

span {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.startmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.startmodal-content {
    background-color: black;
    margin: 5% auto 15% auto;
    border: 2px solid red;
    border-radius: 8px;
    width: 25%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 24px;

}

.close:hover,
.close:focus {
    color: red;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

}
label {
    color: white;
}
.imgtoken{
    width: 12%;
    position: relative;
    bottom: -19px;
}

#startImg {
    width: 4vw;
    height:auto;
    position: relative;
    left: 18%;
    bottom: 5vw;
}
#dPool {
    font-family: "Orbitron";
    color: white;
    font-size: 3vw;
    text-shadow: 0 0 3px red;
    position: relative;
    left: 9vw;
    bottom: 11vw;
    width: 30%;
    text-align: center;
}
#connectFour {
    font-family: "Orbitron";
    color: white;
    font-size: 3vw;
    text-shadow: 0 0 3px red;
    position: relative;
    bottom: 19vw;
    left: 40vw;
    text-align: center;
}
#attempts {

    height: 80px;
    position: relative;
    background-color: black;


}

#games-played {

    height: 30vw;
    position: relative;
    top: 10%;
    background-color: lime;


}

#accuracy {

    height: 80px;
    top: 10vw

}
.statsDisplay {
    height: 30vw;
    font-family: "Orbitron";
    color: white;
    font-size: .5vw;
    text-shadow: 0 0 3px red;

}
#restartGame {
    background-color: lime;
    height: 10vw;
}
#restartimg {
    height: 5vw;
}
h1{
    margin-top: 4vw;
}

.winimgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

span {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.winimgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    background-color: darkslategray;
}

span {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
#winModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.wincontent {
    background-image: url("DPheart.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: pink;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid red;
    border-radius: 8px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
    font-family: "Orbitron";
    color: white;
    font-size: 2vw;
    text-shadow: 0 0 20px red;
}
#winModTextbox {

    width: 40%;
    height: auto;
    position: relative;
    left: 50%;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 24px;

}